version: "3.8"

services:
  redis:
    image: redis:7
    container_name: upload_redis
    ports:
      - "6379:6379"

  minio:
    image: minio/minio
    container_name: upload_minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

volumes:
  minio_data:
